<div *ngIf="artista" class="container main-container animated fadeIn fast">
  <div class="row">
    <div class="col-md-3 text-center">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circle" alt="">
      <br>
    </div>

    <div class="col-md-9">
      <h3>{{ artista.name }} <small>Popularidad {{ artista.popularity }}</small></h3>
      <hr>
      <a [href]="artista.external_urls?.spotify" class="btn btn-outline-success"> 
        Ver página
      </a>
      <a [routerLink]="['/buscar']" class="btn btn-outline-danger">
        Volver
      </a>
    </div>

  </div>
</div>

<div *ngIf="pistas" class="container">
  <h3>Top songs de: {{ artista.name }}</h3>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Cancion</th>
              <th>Popularidad</th>
              <th>Preview</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pista of pistas; let i = index;">
              <td>{{ i+1 }}</td>
              <td>
                <img [src]="pista.album?.images | sinfoto" alt="" class="img-fluid img-50">
              </td>
              <td>{{ pista.name }}</td>
              <td>{{ pista.popularity }}%</td>
              <td>
                <!-- <audio controls>
                  <source [src]="pista.preview_url" />
                  Tu navegador es muy viejo
                </audio> -->
                <iframe [src]=" pista.uri | domseguro: 'https://open.spotify.com/embed?uri=' " 
                  width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<!-- 
  foto: album.images[1]
  artistaUrl to spotify: href  -->